.user-info-card {
    padding: 50px 20px;
    background:  #cbcbba ;
}

.user-info-photo {
    border-radius: 8px;
    width: 100%;
}
.user-info-title {
    color: #24292f;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}
.user-info-title:last-child {
    margin-bottom: 0;
}
.user-rep {
    color: #24292f;
    border-bottom: 1px solid #282c34;
    text-transform: uppercase;
    max-width: 500px;
}
.user-rep-card {
    background:  #cbcbba ;
    padding: 50px 20px;
}
.user-info-rep {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: .4s linear ;
}
.user-info-rep:hover {
    border: 1px solid #282c34;
}
.user-info-sub-card {
    border: 1px solid white;
    padding: 40px;
    border-radius: 8px;
    width: 400px;
}
