.search-input {
    color: rgba(255,255,255,.75);
    background: transparent;
    border-radius: 8px 0 0 8px;
    padding: 2px 8px;
    border: 1px solid lightslategray;
}
.search-input:focus {
    outline: none;

}
.search-btn {
    text-decoration: none;
    background: #2da44e;
    color: #f6f8fa;
    border: none;
    border-radius: 0 8px 8px 0;
    padding: 3px;
}
.search-btn:hover {
    background: #f6f8fa;
    color: #2da44e;

}