body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: rgba(255,255,255, 0.1);
  /*background:  linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);*/
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
